<!-- manu -->
<div style="z-index: 1;" class="row user-profile">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-content" style="text-align: center">
        <b>หมวดคำถาม</b>
      </div>
      <a *ngFor="let cate of quizCate" (click)="toggleMenu()" [routerLink]="['quiz', cate.cate]" routerLinkActive="cate-active">
        <div class="sidebar-quiz-cate">{{ cate.name }}</div>
      </a>
    </div>
  </div>
</div>
<div style="z-index: 1;" class="row user-profile">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-content" style="text-align: center">
        <img [src]="userPicture" class="img-circle" height="150" width="150" alt="Avatar">
        <p style="margin-top: 16px;">{{ name }}</p>
      </div>
      <div class="card-content">
        <table class="table table-striped">
          <thead>
          <tr>
            <th colspan="2" style="text-align: center">คะแนนล่าสุด</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let userPoint of userPoints">
            <td>{{ userPoint.cate }}</td>
            <td>{{ userPoint.point }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="card-footer">-->
      <a href="#">
        <div class="card-footer" style="text-align: center">อันดับทั้งหมด</div>
      </a>
      <!--</div>-->
    </div>
  </div>
</div>
<!-- manu -->
