.card {
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 #dcdcdc;
  border-collapse: collapse;
}

.card-content {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.card-footer {
  padding: 10px;
  transition: all .2s;
}
.card-footer:hover {
  background-color: #f1f1f1;
  transition: all .2s;
}

.user-profile {
  margin-bottom: 10px;
}

.sidebar-quiz-cate {
  padding: 5px 5px 5px 18px;
  transition: all .2s;
}

.sidebar-quiz-cate:hover {
  background-color: #e8e8e8;
  transition: all .2s;
}

.cate-active > div:before {
  content: 'กำลังเล่น ';
}

.cate-active > div {
  background-color: #e8e8e8;
  padding: 18px;
  transition: all .2s;
}


